// custom SCSS (or CSS) goes here
// custom label definitiions are in HERE in _sass/custom/custom.scss
// custom label colors are in _sass/custom/setup.scss

// Raspberry Pi red colored label
.label-rasp:not(g) {
    background-color: $rasp-000;
  }

// Synology blue colored label
.label-syno:not(g) {
    background-color: $syno-000;
  }

// Proxmox Host orange colored label
.label-proxhost:not(g) {
    background-color: $prox-000;
  }

// Proxmox VM black colored label
.label-proxvm:not(g) {
    background-color: black;
  }

// Ubuntu OS orange colored label
.label-ubuntu:not(g) {
    background-color: $ubun-000;
  }

// Change highlight color to a blue-gray for use as button indicator in text
mark {background: #C7DCED!important}