// custom colors in _sass/custom/setup.scss
$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

// Sidebar tan backgroung color
$tan-300: #f9dea9;

// Sidebar tan link color
$tan-000: #f9e9b6;

// Raspberry Pi red color
$rasp-000: #C51A4A;

// Synology blue color
$syno-000: #0067E6;

// Proxmox orange color
$prox-000: #D6762C;

// Ubuntu orange color
$ubun-000: #E95420;

// $body-font-family: "Noto Sans", sans-serif;
// $mono-font-family: "Noto Sans Mono", monospace;